# pip config set global.index-url https://pypi.tuna.tsinghua.edu.cn/simple
# pip config set global.trusted-host pypi.tuna.tsinghua.edu.cn
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.1.0
Flask-JWT-Extended==4.3.1
PyMySQL==1.0.2
requests==2.26.0
python-dotenv==0.19.0
# Production dependencies
# uWSGI==2.0.19.1  # 仅在 Linux 生产环境中安装